
Machine Learning on Data/Music Genre Classification/Data/
Machine Learning on Data/Music Genre Classification/data.json
Machine Learning on Data/Speech Rap Singing/ML_exercise/
Machine Learning on Data/Speech Rap Singing/data/
Machine Learning on Data/Speech Rap Singing/ML_Exercise.pdf
Machine Learning on Data/Speech Rap Singing/data.json
Machine Learning on Data/Speech Rap Singing/.ipynb_checkpoints/LTST_SRS-checkpoint.ipynb
Machine Learning on Data/Speech Rap Singing/data_seperate_test/
Machine Learning on Data/Speech Rap Singing/data_seperate_train/
Machine Learning on Data/Speech Rap Singing/data_test.json
Machine Learning on Data/Speech Rap Singing/data_train.json
